body {
  font-family: "Nunito", sans-serif;
  text-align: center;
  background: #33a1ba;
}

h1,
.subhead {
  margin: 5px auto;
  color: #ea6e4a;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 2px;
  width: fit-content;
  padding: 0 5px;
  font-weight: bold;
}

h2 {
  margin-top: 50px;
  margin-bottom: 0;
}

strong {
  transition: 200ms;
}

strong:hover {
  color: #fceae5;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.app-wrapper {
  margin: 30px auto;
  max-width: 700px;
}

.app-background {
  padding: 10px;
  background: no-repeat bottom/100% url(images/sky.jpeg);
  border-radius: 5px;
}

.five-day-card {
  background: linear-gradient(#ffe69a, #ffffff);
  border: solid #ffc003;
  --bs-card-spacer-y: 0;
}

.form-control {
  margin-top: 50px;
  display: inline;
  width: 50%;
  font-size: 22px;
}

.btn {
  vertical-align: 0%;
  background: #ea6e4a;
  color: #fceae5;
  border: solid #fceae5;
  font-size: 20px;
  transition: 200ms;
}

.btn:hover {
  background: #f1a088;
  border: solid #ea6e4a;
}

.current-location-search {
  margin-top: 12px;
}

.current-button-description {
  padding: 10px;
  font-size: 22px;
}

.current-day-time {
  margin-bottom: 50px;
  font-size: 18px;
}

.current-conditions {
  margin-top: 80px;
}

.weather-icon {
  float: left;
}

.current-temp-value {
  font-size: 62px;
  font-weight: 300;
}

.weather-description {
  text-transform: capitalize;
  font-size: 22px;
  font-weight: bold;
}

.units {
  font-size: 20px;
  position: relative;
  top: -32px;
}

.high-low-temperatures {
  position: relative;
  top: -20px;
  font-size: 18px;
}

.motivation-text {
  margin: 0 auto 25px;
  font-size: 22px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  padding: 5px 20px;
  text-align: center;
  max-width: fit-content;
  color: #ea6e4a;
}

.current-stats {
  line-height: 40px;
  font-size: 18px;
  margin-bottom: 80px;
}

.forecast-wrapper {
  border-radius: 5px;
  line-height: 25px;
}

.forecast {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}

.forecast-high-temp {
  font-weight: bold;
}

.forecast-low-temp {
  opacity: 0.8;
}
